body{

background-color: #37C0C2;
}

header{
margin-left: 0px;
background-color: #193839;
text-align: center;
padding: 0 0;
}
header img{
	border-radius: 20px;
		border: 20px solid white;

}

main {
background-color: #37C0C2;
}
footer {
background-color: #37C0C2;	
}
h1 {
color: #A9E3E4;
padding: 60px;
font-family: 'Montserrat', sans-serif;
}
h2{
	font-family: 'Montserrat', sans-serif;
color: #A9E3E4;
padding: 30px;
}

li{
	font-family: 'Montserrat', sans-serif;
}

.big{
font-size: 60px;
color: greenyellow;

}

.uppercase{text-transform: uppercase;}

span{
color: blueviolet;
}

a{color: white}
a:hover{color: white;}